{% extends "_layout.html" %}

{%- block title -%}
    {%- match err -%}
        {% when TemplateError::NotFound -%} 404: Not Found
        {% else -%} 500: Internal Server Error
    {%- endmatch -%}
{%- endblock -%}

{%- block content -%}
    <h1>
        {%- match err -%}
            {% when TemplateError::NotFound -%} 404: Not Found
            {% else -%} 500: Internal Server Error
        {%- endmatch -%}
    </h1>

    {%- match err -%}
        {% when TemplateError::NotFound -%}
        {% when TemplateError::InternalServerError -%}
        {% when TemplateError::Render(err) -%}
            <pre>{{ err }}</pre>
    {%- endmatch -%}
{%- endblock -%}
