{% extends "_layout.html" %}

{%- block title -%}
    {#-
        In here you can see how to use the language URL compment to select the text to display.
    -#}
    Resend Verification code error
{%- endblock -%}

{%- block content -%}
    <h1>
        {%- match err -%}
            {% when ResendVerificationOtpActionError::EmailAlreadyVerified -%}
                Email already verified
            {% when ResendVerificationOtpActionError::CooldownNotElapsed -%}
                Cooldown not elapsed
        {%- endmatch -%}
    </h1>
    {%- match err -%}
        {% when ResendVerificationOtpActionError::EmailAlreadyVerified -%}
            <p>
                The email <strong>{{ email }}</strong> has already been verified.
            </p>
        {% when ResendVerificationOtpActionError::CooldownNotElapsed -%}
            <p>
                You must wait before requesting a new verification code.
            </p>
    {%- endmatch -%}
{%- endblock -%}
