{% extends "_layout.html" %}

{%- block title -%}
    {#-
        In here you can see how to use the language URL compment to select the text to display.
    -#}
    Verify Ethoko email
{%- endblock -%}

{%- block content -%}
    <h1>
        {%- match err -%}
            {% when VerifyEmailActionError::EmailAlreadyVerified -%}
                Email already verified
            {% when VerifyEmailActionError::InvalidOtp -%}
                Invalid OTP
            {% when VerifyEmailActionError::OtpExpired -%}
                OTP expired
        {%- endmatch -%}
    </h1>
    {%- match err -%}
        {% when VerifyEmailActionError::EmailAlreadyVerified -%}
            <p>
                The email <strong>{{ email }}</strong> has already been verified.
            </p>
        {% when VerifyEmailActionError::InvalidOtp -%}
            <p>
                The OTP you provided is invalid. Please check your email and try again.
            </p>
        {% when VerifyEmailActionError::OtpExpired -%}
        <div>
            <p>
                The OTP you provided has expired. Please request a new verification email.
            </p>
            <form method="post" action="/auth/resend-verification-otp/action">
                <input type="hidden" name="email" value="{{ email }}">
                <button type="submit">Resend Verification Email</button>
            </form>
        </div>
    {%- endmatch -%}
{%- endblock -%}
