{% extends "_layout.html" %}

{%- block title -%}
    {#-
        In here you can see how to use the language URL compment to select the text to display.
    -#}
    Verify Ethoko email
{%- endblock -%}

{%- block content -%}
    <h1>Hello, {{ handle }}!</h1>
    <p>Thank you for signing up for Ethoko!</p>
    <form
        method="POST"
        action="/auth/verify-email/action"
        content-type="application/x-www-form-urlencoded"
    >
        <p>
            {#-
                If your text contains long lines, you may want to split them,
                so you as a developer have an easier time reading them.

                If you don't want to end up with a multitude of spaces in the
                generated content, you can use empty comments as seen below: `#-~#`.
                This would strip the space before the comment, and leave a newline
                character after the comment. Another option would be `#~-#`,
                so that single space remains.
            -#}
            To verify your email address, input the verification code.
        </p>
        <p>
            <input type="hidden" name="email" value="{{ email }}" />
            <label>
                Verification code:
                <input
                    type="text"
                    name="verification_code"
                    required
                    style="width: 10em"
                />
            </label>
        </p>
        <p>
            <label>
                <button type="submit">Verify Email</button>
            </label>
        </p>
    </form>
    <div>
        <p>Request a new verification email:</p>
        <form method="post" action="/auth/resend-verification-otp/action">
            <input type="hidden" name="email" value="{{ email }}">
            <button type="submit">Resend Verification Email</button>
        </form>
    </div>
{%- endblock -%}
