# REQUIRED
# The URL of the server
SELF_URL=

# Server port
PORT=

# Application log level, this variable has priority over `RUST_LOG`
LOG_LEVEL=

# REQUIRED
# SECRET
# Format is `postgresql://<Postgres user>:<Postgres password>@<Postgres host>:<Postgres port>/<Postgres DB>`
# For local database in compose.yaml: postgresql://admin:admin@localhost:5432/central
DATABASE_URL=postgresql://admin:admin@localhost:5432/central

# REQUIRED
# SECRET
RESEND_API_KEY=
